<header>
  <nav style="border-radius:0" class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"><a href="undefinedindex.html" class="navbar-brand">Metalsmith test</a></div>
      <ul class="nav navbar-nav">
        <li><a href="undefinedindex.html">Index</a></li>
        <li><a href="undefinedother.html">Other</a></li>
        <li><a href="undefineddir/index.html">2nd Index</a></li>
        <li><a href="undefineddir/other.html">2nd Other</a></li>
      </ul>
    </div>
  </nav>
</header>