<html>

<head>
  <title></title>
  <meta name="description" />
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- Latest compiled and minified CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous" />
  <link href="undefinedcss/index.css" rel="stylesheet" /> </head>

<body>
  <header>
    <nav style="border-radius:0" class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header"><a href="undefinedindex.html" class="navbar-brand">Metalsmith test</a></div>
        <ul class="nav navbar-nav">
          <li><a href="undefinedindex.html">Index</a></li>
          <li><a href="undefinedother.html">Other</a></li>
          <li><a href="undefineddir/index.html">2nd Index</a></li>
          <li><a href="undefineddir/other.html">2nd other</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item clearfix">
        <div class="row">
          <div class="col-md-2 text-muted">title</div>
          <div class="col-md-10"></div>
        </div>
      </li>
      <li class="list-group-item clearfix">
        <div class="row">
          <div class="col-md-2 text-muted">description</div>
          <div class="col-md-10"></div>
        </div>
      </li>
    </ul>
  </div>
  <article class="container-fluid"></article>
</body>

</html>